{% extends "base.html" %}
{% block content %}

{% for link in links %}

<article id="link-{post.hash}">

    {% if link.quotable %}
    {% if link.extended %}
    <q>{{ link.extended | escape }}</q>

    <span class="dash">&mdash;</span>
    {% endif %}
    <cite>
        <a class="" href="{{ link.url }}">
            {{ link.description | escape }}
        </a>
    </cite>
    {% else %}


    <span class="link-title">
        <a class="" href="{{ link.url }}">
            {{ link.description | escape }}
        </a>
    </span>
    {% if link.extended %}
    <span class="dash">&mdash;</span>
    <span class="link-description">
        {{ link.extended | escape }}
    </span>

    {% endif %}

    {% endif %}
    <span class="post-meta">
        (<span class="post-date">{{ link.ts|format_ts }}</span>

        {% if link.clean_tags %}
        &middot; <span class="tags">{{ link.clean_tags|link_tags(', ') }}</span>
        {% endif %})
        {% if link.via %}
        ({% if link.via|is_url %}<a href="{{ link.via }}" class="via">via</a>{% else %}via {{ link.via }}{% endif %})
        {% endif %}
    </span>
</article>
{%- endfor -%}
{% endblock %}