<h1 class="page-heading">{{ page.title }}</h1>

{% for link in links %}
{% if loop.first %}
    <h2 class="section-heading">Month: {{ link.ts|format_ts("%B %Y") }}</h2>
{% endif %}
<article id="link-{post.hash}">
    <span class="link-title">
        <a class="" href="{{ link.url }}">
                {{ link.description | escape }}
        </a>
    </span>
    {% if link.extended %}
    <span class="dash">&mdash;</span> 
    <span class="link-description">
        {{ link.extended | escape }}
    </span>
    {% endif %}
     <span class="post-date">{{ link.ts|format_ts }}</span>
     {% if link.clean_tags %}
	<span class="tags">{{ link.clean_tags|join(', ') }}</span>
    {% endif %}
    
</article>
{%- endfor -%}